<h2>Assignment 5</h2>
<h4>Dictionary</h4>

In [1]:
dog={}
dog['name']='Tommy'
dog['color']='Brown & White'
dog['breed']='Golden retriever'
dog['legs']='short'
dog['age']=4
print(dog)
del dog
#print(dog)

{'name': 'Tommy', 'color': 'Brown & White', 'breed': 'Golden retriever', 'legs': 'short', 'age': 4}

NameError: name 'dog' is not defined

In [13]:
student={
    'first-name':'Thangadurai',
    'last-name':'Raju',
    'gender':'Male',
    'age':22,
    'skills':['Quick learner','Time management','Adaptability','Team work'],
    'martial-status':'Single',
    'country':'India',
    'city':'Erode'
}
print(len(student))
print(student['skills'])
print(type(student['skills']))
student['skills'].append('work ethic')
print(student['skills'])
print(student.keys(),student.values())
print(student.items())
print(student.pop('skills'))
print(student)

8
['Quick learner', 'Time management', 'Adaptability', 'Team work']
<class 'list'>
['Quick learner', 'Time management', 'Adaptability', 'Team work', 'work ethic']
dict_keys(['first-name', 'last-name', 'gender', 'age', 'skills', 'martial-status', 'country', 'city']) dict_values(['Thangadurai', 'Raju', 'Male', 22, ['Quick learner', 'Time management', 'Adaptability', 'Team work', 'work ethic'], 'Single', 'India', 'Erode'])
dict_items([('first-name', 'Thangadurai'), ('last-name', 'Raju'), ('gender', 'Male'), ('age', 22), ('skills', ['Quick learner', 'Time management', 'Adaptability', 'Team work', 'work ethic']), ('martial-status', 'Single'), ('country', 'India'), ('city', 'Erode')])
['Quick learner', 'Time management', 'Adaptability', 'Team work', 'work ethic']
{'first-name': 'Thangadurai', 'last-name': 'Raju', 'gender': 'Male', 'age': 22, 'martial-status': 'Single', 'country': 'India', 'city': 'Erode'}

<h2>Assignment 6</h2>
<h4>Tuple</h4>
<h4>Excercise level 1</h4>

In [32]:
siblings=()
a=list(siblings)
sisters=('Bharathi','Sowndharya','Laila','Sowmiya')
brothers=('Ranjith','Rubesh','Jagadeesh')
sista_lst=list(sisters)
brotha_lst=list(brothers)
sista_lst.extend(brotha_lst)
a.extend(sista_lst)
siblings=tuple(a)
print(siblings)
print(len(siblings))
b=list(siblings)
parents=['Raju','Kavitha']
b.extend(parents)

family_members=tuple(b)
print(family_members)

('Bharathi', 'Sowndharya', 'Laila', 'Sowmiya', 'Ranjith', 'Rubesh', 'Jagadeesh')
7
('Bharathi', 'Sowndharya', 'Laila', 'Sowmiya', 'Ranjith', 'Rubesh', 'Jagadeesh', 'Raju', 'Kavitha')

<h4>Excercise level 2</h4>

In [35]:
family_members=list(family_members)
parents=list(parents)
siblings=list(siblings)
parents1=[]
siblings1=[]
for i in family_members:
    if i in parents:
        parents1.append(i)
    else:
        siblings1.append(i)
print(tuple(parents1))
print(tuple(siblings1))

#another method
(*sibling,Raju,Kavitha)=family_members
print(sibling)
print(Raju)
print(Kavitha)

('Raju', 'Kavitha')
('Bharathi', 'Sowndharya', 'Laila', 'Sowmiya', 'Ranjith', 'Rubesh', 'Jagadeesh')
['Bharathi', 'Sowndharya', 'Laila', 'Sowmiya', 'Ranjith', 'Rubesh', 'Jagadeesh']
Raju
Kavitha

In [59]:
fruits=('apple','orange','pineapple','watermelon')
vegetables=('tomato','potato','brinjal','onion')
animal_products=('meat','eggs','milk','leather')
fr_lst=list(fruits)
vg_lst=list(vegetables)
ap_lst=list(animal_products)
food_stuff_lst=fr_lst+vg_lst+ap_lst
food_stuff_tp=tuple(food_stuff_lst)
print(food_stuff_tp)
m=len(food_stuff_lst)//2
print(food_stuff_lst[m])
print(food_stuff_lst[:3])
print(food_stuff_lst[-3:])
del food_stuff_tp
#print(food_stuff_tp)

('apple', 'orange', 'pineapple', 'watermelon', 'tomato', 'potato', 'brinjal', 'onion', 'meat', 'eggs', 'milk', 'leather')
brinjal
['apple', 'orange', 'pineapple']
['eggs', 'milk', 'leather']

In [61]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
if 'Estonia' in nordic_countries:
    print("Yes, Estonia is a Nordic Country")
else:
    print("No, Estonia is a Nordic Country")
if 'Iceland' in nordic_countries:
    print("Yes, Iceland is a Nordic Country")
else:
    print("No, Iceland is a Nordic Country")

No, Estonia is a Nordic Country
Yes, Iceland is a Nordic Country

<h2>Assignment 7</h2>
<h4>Set</h4>
<h4>Excercise level 1</h4>

In [13]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))
it_companies.add('Twitter')
print(it_companies)
companies={'TCS','Cognizant','HCL','Wipro'}
it_companies.update(companies)
print(it_companies)
it_companies.remove('HCL')
print(it_companies)
it_companies.discard('Oracle')
print(it_companies)

7
{'Facebook', 'Oracle', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'Google', 'Apple'}
{'Oracle', 'Twitter', 'Microsoft', 'IBM', 'Amazon', 'Google', 'Apple', 'Cognizant', 'Facebook', 'Wipro', 'HCL', 'TCS'}
{'Oracle', 'Twitter', 'Microsoft', 'IBM', 'Amazon', 'Google', 'Apple', 'Cognizant', 'Facebook', 'Wipro', 'TCS'}
{'Twitter', 'Microsoft', 'IBM', 'Amazon', 'Google', 'Apple', 'Cognizant', 'Facebook', 'Wipro', 'TCS'}

<h3>remove()</h3>
<h5>The remove() method is used to remove elements from the set. It throws Keyerror if the element doesn't the set.</h5>
<h3>discard()</h3>
<h5>The discard() method is used to remove elements from the set. If the elements in the set, otherwise it do nothing.</h5>

<h4>Excercise level 2</h4>

In [26]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))#adds Sets A and B
print(A.intersection(B))#elements are present in both set can be print. if not present elements neglected.
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B) and B.union(A))
print(A.symmetric_difference(B))
del A,B
#print(A,B)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

<h4>Excercise level 3</h4>

In [27]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

age_set=set(age)
print(len(age))
print(len(age_set))
if len(age)== len(age_set):
    print("The age List and Set both lengths are equal")
elif len(age) > len(age_set):
    print("The age List is Higher length compare to age Set")
elif len(age) < len(age_set):
    print("The age Set is Higher length compare to age List")

8
5
The age List is Higher length compare to age Set

In [31]:
str1="I am a teacher and I love to inspire and teach people"
str1_lst=str1.split('and')
print(str1_lst)
print(set(str1_lst))

['I am a teacher ', ' I love to inspire ', ' teach people']
{'I am a teacher ', ' I love to inspire ', ' teach people'}