<h2>Assignment 1</h2>
<h4>Excercise 1 & Task 1</h4>

In [2]:
#Addition 
num_one=5
num_two=4
total=num_one+num_two
print(total)

9

In [3]:
#Subtraction
diff=num_one-num_two
print(diff)

1

In [5]:
#Multification
product=num_two*num_one
print(product)

20

In [6]:
#Division
division=num_one/num_two
print(division)

1.25

In [7]:
#Modulo Division
remainder=num_two%num_one
print(remainder)

4

In [8]:
#Power of number
exp=num_one**num_two
print(exp)

625

In [9]:
#Floor Division
floor_division=num_one//num_two
print(floor_division)

1

<h4>Task 2</h4>

In [10]:
#Check the all variable types
print(type(total))
print(type(diff))
print(type(product))
print(type(division))
print(type(remainder))
print(type(exp))
print(type(floor_division))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

<h4>Excercise 2 & Task 1</h4>

In [13]:
#Finding Euclidean Distance
#Formula of Euclidean distance (x1, y1) and (x2, y2) is d = √[(x2 – x1)2 + (y2 – y1)2].
# find (2,3)and (10,8)
x1=2
y1=3
x2=10
y2=8
d=((x2-x1)**2+(y2-y1)**2)**0.5
print(d)

9.433981132056603

<h4>Task 2</h4>

In [19]:
#circle program
#Area of circle A=πr2 (pi=3.14)
#cicumference of circle C=2πr
radius=30
area_of_circle=3.14*(radius**2)
circum_of_circle=2*3.14*radius
print(area_of_circle)
print(circum_of_circle)

2826.0
188.4

<h2>Assignment 2 & 3</h2>

<h4>Task 1</h4>

In [2]:
#Concatenate the string
company='Coding'+'For'+'All'
print(company)

CodingForAll

<h4>Task 2</h4>

In [2]:
#length of company using len() function
print(len(company))

12

<h4>Task 3</h4>

In [4]:
#using upper() function
print(company.upper())

CODINGFORALL

<h4>Task 4</h4>

In [5]:
#using lower() function
print(company.lower())

codingforall

<h4>Task 5</h4>

In [4]:
#using to slicing method 
print(company[0:6])
print(company[:6])
print(company[:-6])
print(company[0:-6])

Coding
Coding
Coding
Coding
0

<h4>Task 6</h4>

In [15]:
#changing the word using replace method
str1="Python For Everyone"
w=str1.replace("Everyone","All")
print(w)

Python For All

<h4>Task 7</h4>

In [17]:
#Split the strings
str2="Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" 
q=str2.split(",")
print(q)

['Facebook', ' Google', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

<h4>Task 8 ,9& 10</h4>

In [24]:
#indexing
e=company[0]
f=company[-1]
g=company[10]
print(e,f,g)

C l l

<h4>Task 11</h4>

In [25]:
#rfind(): Returns the index of the last occurrence of a substring, if not found returns -1
str3="Coding For All People"
h=str3.rfind("l")
print(h)

19

<h4>Task 12</h4>

In [26]:
#slice out the sentence
str4='You cannot end a sentence with because because because is a conjunction'
i=str4.split('because')
print(i)

['You cannot end a sentence with ', ' ', ' ', ' is a conjunction']

<h4>Task 13</h4>

In [28]:
#escape sequence newline \n
str5="I am enjoying this challenge.\nI just wonder what is next."
print(str5)

I am enjoying this challenge.
I just wonder what is next.

<h4>Task 14</h4>

In [41]:
#escape sequence tab space \t
str6="Name\tAge\tCountry\tCity"
str7="Asabeneh\t250\tFinland\tHelsinki"
print(str6)
print(str7)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

<h4>Task 15</h4>

In [26]:
#string formatting method using
r=10
a=3.14*r**2
print("radius = {} ".format(r))
print("area = 3.14 * radius ** 2")
print("The area of a circle with radius {} is {} meters square.".format(r,a))

radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314.0 meters square.

<h4>Task 16</h4>

In [22]:
#string formatting with numbers
num_one=8
num_two=6
total=num_one+num_two
diff=num_one-num_two
product=num_one*num_two
division=num_one/num_two
remainder=num_one%num_two
floor_division=num_one//num_two
exp=num_one**num_two
print("{}+{}={}".format(num_one,num_two,total))
print("{}-{}={}".format(num_one,num_two,diff))
print("{}*{}={}".format(num_one,num_two,product))
print("{}/{}={}".format(num_one,num_two,division))
print("{}%{}={}".format(num_one,num_two,remainder))
print("{}//{}={}".format(num_one,num_two,floor_division))
print("{}**{}={}".format(num_one,num_two,exp))

8+6=14
8-6=2
8*6=48
8/6=1.3333333333333333
8%6=2
8//6=1
8**6=262144

<h2>Assignment 4</h2>
<h4>Excercise 1</h4>

In [32]:
list1=[]
list1=[1,2,3,4,5,6,7]
print(len(list1))
print(list1[0],list1[3],list1[-1])
list2=['Thangadurai',22,'173','Unmarried','Namakkal']
print(list2)
it_companies=['Facebook', 'Google', 'Microsoft', 'IBM', 'Amazon']
print(it_companies)
it_companies.append('Oracle')
print(it_companies)
it_companies.insert(3,'Apple')
print(it_companies)
print(it_companies[3].upper())
print('Google' in it_companies)
it_companies.sort()
print(it_companies)
it_companies.reverse()
print(it_companies)
print(it_companies[:3])
print(it_companies[-3:])
print(it_companies[3])
it_companies.pop(0)
print(it_companies)
it_companies.pop(3)
print(it_companies)
it_companies.pop()
print(it_companies)
it_companies.clear()
print(it_companies)
del(it_companies)
#print(it_companies)
front_end=['HTML','CSS','JS','React','Redux']
back_end=['Node','Express','MongoDB']
front_end.extend(back_end)
print(front_end)

7
1 4 7
['Thangadurai', 22, '173', 'Unmarried', 'Namakkal']
['Facebook', 'Google', 'Microsoft', 'IBM', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'IBM', 'Amazon', 'Oracle']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon', 'Oracle']
APPLE
True
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'Microsoft', 'IBM']
['Facebook', 'Apple', 'Amazon']
Google
['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
['Microsoft', 'IBM', 'Google', 'Apple', 'Amazon']
['Microsoft', 'IBM', 'Google', 'Apple']
[]
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

<h4>Excercise 2</h4>

In [47]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))
print(ages[5]//2)#Median 
x=sum(ages)//len(ages)#average age
print(x)
print(max(ages)-min(ages))#range of ages
print(abs(min(ages)-x),abs(max(ages)-x))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
12
22
7
3 4

In [48]:
#Countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [53]:
print(len(countries))
print(len(countries)//2)
print(countries[96])#middle of the countries
countries2=[]
countries3=[]
countries2=countries[0:97]
print(countries2)
countries3=countries[97:]
print(countries3)

193
96
Lesotho
['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [56]:
countries4=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
a,b,c,*d=countries4
print(a)
print(b)
print(c)
scandic_countries=d
print(scandic_countries)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']